html, body
{
    margin: 0px;
}

header, footer
{
	position:sticky;
    font-family: Raleway;
    margin: 0 auto;
	padding: 5em 3em;
	text-align: center;
    background: #555;
}

header h1
{
    color: #AAA;
    font-size: 40px;
    font-weight: lighter;
    margin-bottom: 5px;
}

header span
{
    color: #222;
}

footer
{
	float:none;
  color: #AAA;
}

div.container
{
    font-family: Raleway;
    /*margin: 0 auto;
	padding: 10em 3em;*/
	
	text-align: right;
	position: sticky;
	margin-left:auto;
}

div.container a
{
	text-align:right;
    color: #FFF;
    text-decoration: none;
    font: 20px Raleway;
    margin: 0px 10px;
	margin-bottom:auto;
    padding: 10px 10px;
    position: sticky;
    z-index: 100%;
    cursor: pointer;
}


.brown
{
    background: #795548;
	/*padding:5px;*/
}


div.highlightTextOut a
{
    color: rgba(255, 255, 255, 0.3); 
}

div.highlightTextOut a:before, div.highlightTextIn a:before
{
    position: absolute;
    color: #FFF;
    top: 0px;
    left: 0px;
    padding: 10px;
    overflow: hidden;
    content: attr(alt);
    transition: all 0.3s;
    transform: scale(0.8);
    opacity: 0;
} 

div.highlightTextOut a:hover:before, div.highlightTextIn a:hover:before
{
    transform: scale(1);
    opacity: 1;
}



/*-----------------------------------------------------------------------------------------*/



#container-calulator {
  height: 525px;
  width: 360px;
  margin: 100px auto;
  background: #555;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
}

.calc-head {
	text-align:center;
  background: #1F030C;
  color: white;
  margin: 0;
  padding: 10px 100px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.question{
  padding: 20px;
  text-align:left;
  color:white;
  font-size:15px;
}

form input[type="text"] {
  width=90px;
}

input {
  padding-left: 20px;
}

#days {
  font-size: 20px;
  font-weight: bold;
  text-align:center;
  /*color: #2980b9;*/
  color: #red;
  
  background-color: white;
  width: 74%;
  margin-left:20px;
  padding: 13px 13px 13px 13px;
}

#days:focus {
	
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#hours {
  padding: 15px 15px 15px 15px;
  margin-left: 20px;
  font-size: 20px;
  
  font-weight: bold;
  text-align:center;
}

button {
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin: 30px auto;
  background: #AD133A;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  font-size: 17px;
  color: white;
}

button:hover {
  background: #4c2827;
  border-bottom-color: #111;
}

button:active {
  position: relative;
  top: 1px;
}

#totalTip {
  font-size: 30px;
  margin-top: 5px;
  text-align: center;
}

#totalTip:before {
  content: "Work Rate";
  font-size: 20px;
  font-weight: bold;
  display: block;
  text-transform: uppercase;
}

#totalTip sup {
  font-size: 20px;
  top: -18px;
}

#totalTip small {
  font-size: 20px;
  font-weight: bold;
  display: block;
}




/**************************************************Author***********************************/

:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.hero-section{
  
  background-color:#555;
  
  padding: var(--spacing-xxl) var(--spacing-l);
}

.card-grid{
  display: grid;
  width: 10%;
  position:relative;
  left:45%;
}



.card{
  list-style: none;
  position: relative;
}

.card:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.card__background{
  
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.card:hover .card__background{
  transform: scale(1.05) translateZ(0);
}



/*********************************************Project-card*****************************/



:root{
  --background-dark: #2d3548;
  --text-light: rgba(255,255,255,0.6);
  --text-lighter: rgba(255,255,255,0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

body{
  height: 100%;
}

.project-section{
  align-items: flex-start;
  background-color:#555;
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.project-grid{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media(min-width: 540px){
  .project-grid{
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media(min-width: 960px){
  .project-grid{
    grid-template-columns: repeat(5, 1fr); 
  }
}

.project{
  list-style: none;
  position: relative;
}

.project:before{
  content: '';
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.project__background{
  
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.5) saturate(1.2) contrast(0.85);
  
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  trsnsform: scale(1) translateZ(0);
  transition: 
    filter 200ms linear,
    transform 200ms linear;
}

.project:hover .card__background{
  transform: scale(1.05) translateZ(0);
}

.project-grid:hover > .project:not(:hover) .project__background{
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.project__content{
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.project__category{
  color: black;
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.project__heading{
  color: black;
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}